# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [17]:
# import libraries here
import numpy as np

# Challenge 1

#### Open the ` Employee.csv` file and name your dataset `employee`

In [18]:
# your answer here
import pandas as pd

df = pd.read_csv('employee.csv')

print(df.head())

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55

#### What's the mean salary by department. 
##### Tip : There are 2 ways to do it - one way is with and the other way is without pivot tables. Do it both ways.

In [19]:
# your answer 


# Usando pivot tables
pt = pd.pivot_table(df, values='Salary', index=['Department'], aggfunc='mean')
print(pt)

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

In [20]:
# your answer 

# Sin usar pivot tables
means = df.groupby(['Department'])['Salary'].mean().reset_index()
print(means)

  Department  Salary
0         HR   45.00
1         IT   48.75
2      Sales   55.00

#### We want now to group the data by more than one column. Use Pandas pivot table function to select the mean salary by department and title

In [21]:
# your answer here
pt = pd.pivot_table(df, values='Salary', index=['Department', 'Title'], aggfunc='mean')
print(pt)

                      Salary
Department Title
HR         VP           70.0
           analyst      32.5
IT         VP           70.0
           analyst      32.5
           associate    60.0
Sales      associate    55.0

#### We want to display the number of years of work experience and the salary for each Title. Add Years as a column in your pivot table
*Hint: Use Pandas doc(see References in README.md) to explore the pivot_table() arguments*

In [22]:
# your answer here
pt = pd.pivot_table(df, values=['Salary', 'Years'], index=['Title'], columns=[], aggfunc={'Salary': 'mean', 'Years': 'mean'})
print(pt)

              Salary  Years
Title
VP         70.000000   8.00
analyst    32.500000   2.25
associate  56.666667   4.00

#### We want to know the information about the mean salary and number of employees in each department and for each job title

In [23]:
# your answer here
pt = pd.pivot_table(df, values=['Salary', 'Name'], index=['Department', 'Title'], aggfunc={'Salary': 'mean', 'Name': 'count'})
print(pt)

                      Name  Salary
Department Title
HR         VP            1    70.0
           analyst       2    32.5
IT         VP            1    70.0
           analyst       2    32.5
           associate     1    60.0
Sales      associate     2    55.0

#### We want to know for each department and for each job title the Salary's median,minimum,maximum and standard deviation. Comment your results

In [24]:
# your answer here
pt = pd.pivot_table(df, values=['Salary'], index=['Department', 'Title'], aggfunc=[np.median, np.min, np.max, np.std])
print(pt)

                     median   amin   amax       std
                     Salary Salary Salary    Salary
Department Title
HR         VP          70.0     70     70       NaN
           analyst     32.5     30     35  3.535534
IT         VP          70.0     70     70       NaN
           analyst     32.5     30     35  3.535534
           associate   60.0     60     60       NaN
Sales      associate   55.0     55     55  0.000000

#### Based on your comments, fill the missing values with an appropriate value

In [25]:
# your answer here
pt = pd.pivot_table(df, values=['Salary'], index=['Department', 'Title'], aggfunc=[np.median, np.min, np.max, np.std])

print(pt)

                     median   amin   amax       std
                     Salary Salary Salary    Salary
Department Title
HR         VP          70.0     70     70       NaN
           analyst     32.5     30     35  3.535534
IT         VP          70.0     70     70       NaN
           analyst     32.5     30     35  3.535534
           associate   60.0     60     60       NaN
Sales      associate   55.0     55     55  0.000000

#### The stake holders want to know for each department the number of employees and how much money is spend on salaries. Could you provide that information?

In [51]:
# your answer here
pt = pd.pivot_table(df, values=['Name', 'Salary'], index=['Department'], aggfunc={'Name': 'count', 'Salary': 'sum'})

print(pt)

            Name  Salary
Department
HR             3     135
IT             4     195
Sales          2     110

#### For each Department and Title, we want to know the the total years of work experience and the mean salary

In [55]:
# your answer here

pt = pd.pivot_table(df, values=['Years', 'Salary'], index=['Department', 'Title'], aggfunc={'Years': 'sum', 'Salary': 'mean'})


print(pt)

                      Salary  Years
Department Title
HR         VP           70.0      8
           analyst      32.5      6
IT         VP           70.0      8
           analyst      32.5      3
           associate    60.0      7
Sales      associate    55.0      5

#### Bonus

#### We now want to compute the mean salary after removing the maxima for each Department. Create the appropriate pivot table

#### * Hint: Write a custom function*

In [28]:
# your answer here

In [29]:
# your answer here

# Challenge 2

#### Open the ` Fitbit.csv` file and name your dataset `fitbit`

In [30]:
# your answer here

#### Explore you dataset in terms of data types and descriptive statistics
#### *Hint: Use Pandas functions from previous lectures*

In [31]:
# your answer here

In [32]:
# your answer here

#### You suspect that there must be a linear relationship between the Minutes Very Active and the Steps. Compute the correlation between these variables.

In [33]:
# your answer here

#### Use matplotlib to visually plot Minutes Very active vs Steps. 

##### Hint : import matplotlib.pyplot as plt (See previous lessons)#####
- Use plt.scatter(x=df['col_name_1'], y=df['col_name_2'])

In [34]:
# your answer here

#### What can you say about Minute Very Active and Steps? Write a comment below

In [35]:
# your comment here

#### We also suspect that there must be a linear relationship between the Minutes Sedentary and the Steps. Compute the correlation between these variables.

In [36]:
# your answer here

#### Use matplotlib to visually plot Minutes Sedentary vs Steps. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [37]:
# your answer here

In [38]:
# Your comment here

#### We also suspect that there must be a linear relationship between the MinutesOfSleep and the Steps. Compute the correlation between these variables.

In [39]:
# your answer here

#### Use matplotlib to visually plot MinutesOfSleep vs Steps. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [40]:
# your answer here

#### Select a subset of your dataset with the columns below and compute the correlation matrix. Save the results in the variable `cor_fit`
column= ['Calorie burned', 'Steps','Floors','Minutes Sedentary','Minutes Very Active', 'MinutesOfSleep']

In [41]:
# your answer here

#### Based on the result of the correlation matrix. What are the highly correlated features with the variable Steps?
*Hint: From the results above select the variable Steps and order your results in descending order (use Pandas sort_values function)*

In [42]:
# your answer here

# Challenge 3

#### Open the `Time_Grades.csv` file and name your dataset `time_grades`

In [43]:
# your answer here

#### Show visually the frequency distribution of the time_grades dataset.

In [44]:
# your answer here

#### Is there a correaltion between study time and Grade? Use both Pearson and Spearman correlation and comment your results.

In [45]:
# your answer

In [46]:
## your answer

#### Use matplotlib to visually plot Study time vs Grade. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [47]:
# your answer here

In [48]:
#your comment here

#### Could you explain the difference between Pearson and Spearman correlation? (see References in README.md)

In [49]:
#your comment here